@font-face {
  font-family: cartographmonocf-medium;
  src: url('cartographmonocf-medium-webfont.woff2') format('woff2'),
       url('cartographmonocf-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  -webkit-backface-visibility: visible;
}

body {
  background-color: white;
  color: black;
  font-family: "cartographmonocf-medium", "Helvetica";
  font-size: 16pt;
  margin: 0;
  line-height: 2.3rem;
}

#app {
  animation: 1s center-reveal;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

#content {
  animation: 5s grey;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: space-evenly;
  padding: 25px;
}

#description {
  animation: reveal 2s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  max-width: 1000px;
}

#links {
  animation: reveal 2.5s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: end;
}

span.blink {
  animation: blink 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
  color: blue;
}

span.cursor {
  animation: blink 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);

  width: 20px;
  height: 5px;
  background-color: blue;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -2px;
}

h1 {
  line-height: 3rem;
  display: inline-block;
  white-space: pre-wrap;
}

span.block {
  animation: block 1s;

  color: white;
  background-color: black;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  text-transform: uppercase;
  white-space: nowrap;
}

h3 {
  margin-right: 2rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  border-bottom: 3px solid blue;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: blue;
  transform: scale(1.1);
  border-bottom-width: 1rem;
  margin-bottom: -0.8rem;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes center-reveal {
  0% {
    transform: scaleY(0);
  }
}

@keyframes grey {
  0% {
    color: grey;
  }
}

@keyframes blue {
  0% {
    color: blue;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: whitesmoke;
  }

  span.block {
    color: black;
    background-color: whitesmoke;
  }

  a {
    color: white;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12pt;
    line-height: 1.6rem;
  }
  h1 {
    line-height: 2rem;
  }
  #app {
    flex-direction: column;
  }
  #links {
    flex-direction: column;
  }
}

@media only screen and (min-width: 200px) and (max-width: 320px)  {
  body {
    font-size: 12pt;
    line-height: 1.9rem;
  }
  #app {
    flex-direction: column;
  }
  #links {
    flex-direction: column;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px)  {
  body {
    font-size: 13pt;
    line-height: 2.0rem;
  }
  #app {
    flex-direction: column;
  }
  #links {
    flex-direction: column;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px)  {
  body {
    font-size: 14pt;
    line-height: 2.1rem;
  }
  #app {
    flex-direction: column;
  }
  #links {
    flex-direction: column;
  }
}

@media only screen and (min-width: 415px) and (max-width: 438px)  {
  #app {
    flex-direction: column;
  }
  #links {
    flex-direction: column;
  }
}