@font-face {
  font-family: cartographmonocf-light;
  src: url('fonts/cartographmonocf-light-webfont.woff2') format('woff2'),
       url('fonts/cartographmonocf-light-webfont.woff') format('woff');
  -webkit-backface-visibility: visible;
}

:root {
  --padding: 10vw;
  --viewport: 90vh;
}

html {
  font-size: large;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: rgb(214, 213, 213);
  color: rgb(23, 23, 23);
  font-family: "cartographmonocf-light", "Helvetica";
  margin: 0;
}

.cover {
  height: var(--viewport);
  padding-left: var(--padding);
  padding-top: var(--padding);
  background-color: rgb(83, 83, 83);
  background-image: url('assets/mikko12.gif');
  background-size: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1 {
  color: rgb(57, 57, 57);
}

span.cursor {
  animation: blink 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);

  width: 0.5em;
  height: 0.15em;
  margin-bottom: -0.01em;
  background-color: rgb(47, 255, 0);
  display: inline-block;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

span.block {
  padding-top: .1em;
  padding-bottom: .05em;
  padding-left: .3em;
  padding-right: .3em;
  animation: block 1s;
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.app {
  height: calc(var(--viewport) - env(safe-area-inset-bottom));
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: var(--padding);
}