@import "reset.css";
@font-face {
  font-family: cartographmonocf-light;
  src: url('fonts/cartographmonocf-light-webfont.woff2') format('woff2'),
       url('fonts/cartographmonocf-light-webfont.woff') format('woff');
  -webkit-backface-visibility: visible;
}

html, body {
	overflow-x: hidden;
	overscroll-behavior-x: none;
	background-color: white;
	font-family: "cartographmonocf-light", "Helvetica";
}

main {
	height: 200svh;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	height: 100svh;
	width: 100vw;
	background-color: whitesmoke;
	color: black;
	letter-spacing: .1rem;
	z-index: 1;
	padding: 0 0 0 20px;
	box-sizing: border-box;
}

section {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 50px;
	bottom: 50px;
	padding: 50px;
	border-top: 1px solid black;
}

h1 {
	font-size: 4rem;
	margin-left: 25px;
}

h1::after {
	content: "|";
	color: transparent;
	animation: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(1, end);
}

@keyframes blink {
	50% {
		color: blue;
	}
}

h2 {
	font-size: 1.6rem;
	line-height: 135%;
	margin-top: -5px;
	max-width: 300px;
}

p {
	line-height: 140%;
	padding-right: 100px;
}

a {
	color: initial;
	text-underline-offset: .3rem;
	text-decoration-color: blue;
}

span.asterisk {
	margin-left: -10px;
}